@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* light-mode defaults */
    --icon-primary:   #374151; /* gray-700 */
    --icon-secondary: #6B7280; /* gray-500 */
}

@media (prefers-color-scheme: dark) {
    :root {
        --icon-primary: #666f77; /* gray-300 */
        --icon-secondary: #96979e; /* gray-400 */
    }
}

/* 3) Manual override (when <html class="dark"> is present) */
.dark {
    --icon-primary:   #D1D5DB; /* gray-300 */
    --icon-secondary: #9CA3AF; /* gray-400 */
}
