name: Build & Deploy to Production

on:
  push:
    branches:
      - main

env:
  IMAGE_NAME: pasubi/crypto-tracker-app
  IMAGE_TAG: latest

jobs:
  build-and-push:
    name: Build & Push Docker Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Show directory structure
        run: |
          pwd
          ls -la

      - name: Build and Push Docker Image (app + worker)
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}

  deploy:
    name: Deploy to Production Server
    runs-on: ubuntu-latest
    needs: build-and-push

    steps:
      - name: SSH Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /var/www/crypto-tracker
            docker compose -f docker-compose.prod.yml pull
            docker compose -f docker-compose.prod.yml -f docker-compose.override.yml up -d --force-recreate
            docker exec crypto-tracker-app php artisan migrate --force
